# Titulo 1
##### titulo 6
## titulo 2

![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")

In [1]:
print ("hola mundo")

hola mundo

In [6]:
#No tipado
#variables Primitivas
entero=4
decimales=1.1
nombre="Paul"
segundo_Nombre="Washington" #segundoNombre -> X mal
apellido="Reinoso"
casado = False
profesor = True
hijos = None #nulo

print(type(entero)) # int
print(type(decimales)) # float
print(type(nombre)) # str
print(type(segundo_Nombre)) # str
print(type(apellido)) # str
print(type(casado)) # bool
print(type(profesor)) # bool
print(type(hijos)) # NoneType

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [8]:
cadena_de_texto= """
Markdown es un lenguaje de marcado que facilita la aplicación de formato a un texto 
empleando una serie de caracteres de una forma especial. 
En principio, fue pensado para elaborar textos cuyo destino iba a ser la web con más rapidez y sencillez 
que si estuviésemos empleando directamente HTML. Y si bien ese suele ser el mejor uso que podemos darle, 
también podemos emplearlo para cualquier tipo de texto, independientemente de cual vaya a ser su destino.
"""
print(cadena_de_texto)

Markdown es un lenguaje de marcado que facilita la aplicación de formato a un texto
empleando una serie de caracteres de una forma especial.
En principio, fue pensado para elaborar textos cuyo destino iba a ser la web con más rapidez y sencillez
que si estuviésemos empleando directamente HTML. Y si bien ese suele ser el mejor uso que podemos darle,
también podemos emplearlo para cualquier tipo de texto, independientemente de cual vaya a ser su destino.

In [4]:
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)
# CAPA 8 !!

4
Paul

In [11]:
# Condiciones
# Truty - Falsy
tuplas = (1,2,3) # Arreglos que no se pueden modificar
listas = [4,5,6] # Arreglos que se pueden modificar
diccionario = {
    "nombre":"Paul"
}
nombre = 'Paul'
if(nombre): # Truty
    # ...
    # ...
    print('Truty')
else:
    # ...
    # ...
    print('Falsy')

if(''): # Falsy
    print('Truty')
else:
    print('Falsy')
    
    
varibleNula=None 
if(varibleNula):
    print('Truty')
else:
    print('False')
    

if(1):
    print('Truty')
else:
    print('False')


if(-1):
    print('Truty')
else:
    print('False')


if(0):
    print('Truty')
else:
    print('False')
    
if(-1.1):
    print('Truty')
else:
    print('False')
    
if(1.2):
    print('Truty')
else:
    print('False')
    
#las tupls se definen con () --son arrgels que no cambian de tmaño

if(()):#tuplas vacias
    print('Truty')
else:
    print('False')
    
if((1,2,3)):#tuplas vacias
    print('Truty')
else:
    print('False')
    

#listas --> se definen con []

if([1,2,3]):
    print('Truty')
else:
    print('False')
    
if([]):
    print('Truty')
else:
    print('False')
    
    
#diccionarios --> se realizan con {}
if({}):
    print('Truty')
else:
    print('False')

if({nombre:'Paul'}):
    print('Truty')
else:
    print('False')

Truty
Falsy
False
Truty
Truty
False
Truty
Truty
False
Truty
Truty
False
False
Truty

In [12]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
arreglo [0:3] #[0-3[
arreglo [5:] # hasta el final
arreglo [:7] # Desde el principio
arreglo [-1] 
arreglo [-10] #Indice negtivo empieza del final
arreglo [3:-2] 
arreglo [-8:8] 
arreglo [-4:-1]
arreglo [-7:]
arreglo [:-3]
arreglo [:] #se podri clonar el arreglo asi

arreglo_Tupla=(1,2,3,4,5,6,7,8,9,10) # Arreglos que no se pueden modificar()
arreglo_Tupla [2:7]

(3, 4, 5, 6, 7)

In [37]:
diccionario = { #funcionan con llave-Valor
    "nombre":"Paul",
    "apellido":"Reinos",
    "sueldo":123.2,
    "Valor":7
}

diccionario ["nombre"]

'Paul'

In [31]:
12 in arreglo

False

In [32]:
10 in arreglo

True

In [33]:
print (type(12 in arreglo))

<class 'bool'>

In [34]:
len (arreglo)

10

In [35]:
len (diccionario)

3

In [40]:
"Valor" in diccionario #en diccionrios usamos las llaves para buscar

True

In [45]:
arreglo[0]=2
#arreglo.pop
#arreglo.append
#arreglo.insert

In [46]:
for numeroLista in arreglo:
    print (numeroLista)

2
2
3
4
5
6
7
8
9
10

In [47]:
for valor in diccionario:
    print (valor)

nombre
apellido
sueldo
Valor

In [48]:
contador =0
while contador < 10:
    print(contador)
    contador+=1

0
1
2
3
4
5
6
7
8
9

In [2]:
paul={ #esta sintasis no se deb usar o debe ponerse llaves de string y valores de lo que necesitemso guardar
    True: "Paul",
    False: "Reinoso",
    1: 12.2,
    1.1: 89,
    'edad': 31,
    "mascota": [{"nombre","kiara"}],
    None: None
}

In [3]:
paul ["edad"]=25

In [4]:
paul

{True: 12.2,
 False: 'Reinoso',
 1.1: 89,
 'edad': 25,
 'mascota': [{'kiara', 'nombre'}],
 None: None}

In [7]:
paul ["mascota"][0]["nombre"]="kia"

TypeError: 'set' object does not support item assignment

In [67]:
paul.keys()

dict_keys([True, False, 1.1, 'edad', 'mascota', None])

In [70]:
print(type(paul.keys()))

<class 'dict_keys'>

In [72]:
for llave in paul.keys():
    print(llave)

True
False
1.1
edad
mascota
None

In [73]:
for llave in paul.values():
    print(llave)

12.2
Reinoso
89
31
[{'kiara', 'nombre'}]
None

In [76]:
1==1 or 2==2
1!=1 and 2!=2

False