## `Examen I Bimestre`
* #### `Nombre: Paul Reinoso`
* #### `Grupo: GR1`

In [2]:
import numpy as np
import pandas as pd

In [1]:
## 2) Crear un vector de ceros de tamaño 10

In [4]:
vector_ceros =np.zeros(10)
vector_ceros

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [5]:
## 3) Crear un vector de ceros de tamaño 10 y el de la posicion 5 sea igual a 1

In [7]:
vector_ceros_con_uno = np.zeros(10)
vector_ceros_con_uno[4]=1
print(vector_ceros_con_uno)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

In [8]:
## 4) Cambiar el orden de un vector de 50 elementos, el de la posicion 1 es el de la 50 etc.

In [9]:
arreglo_cincuenta_elementos = np.arange(50)
arreglo_invertido = arreglo_cincuenta_elementos[::-1]
print(arreglo_invertido)

[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2
  1  0]

In [10]:
## 5) Crear una matriz de 3 x 3 con valores del cero al 8

In [12]:
mi_matriz_tres_X_tres = np.arange(9).reshape(3,3)
print(mi_matriz_tres_X_tres)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [14]:
## 6) Encontrar los indices que no sean cero en un arreglo
#```
#arreglo = [1,2,0,0,4,0]
#```

In [17]:
arreglo = [1,2,0,0,4,0]
arreglo_no_ceros = np.nonzero(arreglo)
print('Indices que no son cero:',arreglo_no_ceros)

Indices que no son cero: (array([0, 1, 4], dtype=int64),)

In [18]:
## 7) Crear una matriz de identidad 3 x 3

In [20]:
matriz_identidad = np.eye(3)
print(matriz_identidad)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [21]:
## 8) Crear una matriz 3 x 3 x 3 con valores randomicos

In [32]:
matriz_random_tres_dims = np.random.randint(-10,100,27).reshape(3,3,3)
print(matriz_random_tres_dims)

[[[ -7  -8   0]
  [ 37  79  29]
  [ 33   9   4]]

 [[ 64  40  92]
  [ -2  64  33]
  [ 86  89  39]]

 [[ 85  62  28]
  [ 89  88  40]
  [ 64 -10  84]]]

In [33]:
## 9) Crear una matriz 10 x 10 y encontrar el mayor y el menor

In [41]:
matriz_diez_elementos = np.random.randint(1,100,100).reshape(10,10)
print(matriz_diez_elementos)
print('\nvalor mayor de la matriz:',matriz_diez_elementos.max())
print('\nvalor menor de la matriz:',matriz_diez_elementos.min())

[[81 10 91 73 57 77 12 65 95 80]
 [59 16 11 95 76 89 38 25 14 64]
 [13 54 27 45 16 62 87 36 88 64]
 [46  7 64 14 84 74  4 64  9 24]
 [ 6 43  8 43  9 34 26 60 64 93]
 [34 38 76 93 34 32 89 65 38  4]
 [23 89 60 94 59 50 43 39 74 57]
 [38  6 53 67 93 79 41 47 50 86]
 [31 94 48 58 60 75 42 60 32 73]
 [ 7 79 59 44 27 95 66 44 26 85]]

valor mayor de la matriz: 95

valor menor de la matriz: 4

In [42]:
## 10) Sacar los colores RGB unicos en una imagen (cuales rgb existen ej: 0, 0, 0 - 255,255,255 -> 2 colores)

In [45]:
from scipy import ndimage
from scipy import misc
mapache = misc.face()
rgb = np.unique(mapache.reshape(-1, mapache.shape[2]), axis=0)
print(rgb)
print('--> 3 colores')

[[  0   0   5]
 [  0   0   7]
 [  0   0   9]
 ...
 [255 248 255]
 [255 249 255]
 [255 252 255]]
--> 3 colores

In [46]:
## 11) ¿Como crear una serie de una lista, diccionario o arreglo?

In [56]:
# lista, diccionario y arreglo
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
# series 
serie_lista = pd.Series(mylist)
serie_arreglo = pd.Series(myarr)
serie_diccionario = pd.Series(mydict)
print(serie_diccionario)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [57]:
## 12) ¿Como convertir el indice de una serie en una columna de un DataFrame?

In [58]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = pd.DataFrame(
        ser
        )
df['index']=df.index
df

    0 index
a   0     a
b   1     b
c   2     c
e   3     e
d   4     d
f   5     f
g   6     g
h   7     h
i   8     i
j   9     j
k  10     k
l  11     l
m  12     m
n  13     n
o  14     o
p  15     p
q  16     q
r  17     r
s  18     s
t  19     t
u  20     u
v  21     v
w  22     w
x  23     x
y  24     y
z  25     z

In [59]:
## 13) ¿Como combinar varias series para hacer un DataFrame?

In [61]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
data={
    'letras':ser1,
    'numeros':ser2
}
df = pd.DataFrame(data)
df

   letras  numeros
0       a        0
1       b        1
2       c        2
3       e        3
4       d        4
5       f        5
6       g        6
7       h        7
8       i        8
9       j        9
10      k       10
11      l       11
12      m       12
13      n       13
14      o       14
15      p       15
16      q       16
17      r       17
18      s       18
19      t       19
20      u       20
21      v       21
22      w       22
23      x       23
24      y       24
25      z       25

In [62]:
## 14) ¿Como obtener los items que esten en una serie A y no en una serie B?

In [67]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
elementos_a_no_b = ser1[~ser1.isin(ser2)]
df = pd.DataFrame(elementos_a_no_b)
print(f'Items de A que no estan en B:')
df

Items de A que no estan en B:

   0
0  1
1  2
2  3

In [ ]:
## 15) ¿Como obtener los items que no son comunes en una serie A y serie B?

In [68]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

a_no_b = ser1[~ser1.isin(ser2)]
b_no_a = ser2[~ser2.isin(ser1)]
elementos_no_comunes_ab = np.append(a_no_b,b_no_a)
df = pd.DataFrame(elementos_no_comunes_ab)
print(f'Los items que no son comunes en A y B son:')
df

Los items que no son comunes en A y B son:

   0
0  1
1  2
2  3
3  6
4  7
5  8

In [69]:
## 16) ¿Como obtener el numero de veces que se repite un valor en una serie?

In [73]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
datos = {'letras':ser}
df= pd.DataFrame(datos)
df = df.groupby(['letras']).size().reset_index(name='count')
df

  letras  count
0      a      4
1      b      3
2      c      2
3      d      5
4      e      3
5      f      1
6      g      4
7      h      8

In [74]:
## 17) ¿Como mantener los 2 valores mas repetidos de una serie, y a los demas valores cambiarles por 0 ?df

In [79]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print('serie randomica')
print(ser)
print('\nvalor--Reps')
print(ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 0
print('\nserie ceros')
print(ser)

serie randomica
0     4
1     1
2     3
3     4
4     4
5     1
6     3
7     1
8     3
9     4
10    3
11    2
dtype: int32

valor--Reps
4    4
3    4
1    3
2    1
dtype: int64

serie ceros
0     4
1     0
2     3
3     4
4     4
5     0
6     3
7     0
8     3
9     4
10    3
11    0
dtype: int32

In [77]:
## 18) ¿Como transformar una serie de un arreglo de numpy a un DataFrame con un `shape` definido?

In [78]:
ser = pd.Series(np.random.randint(1, 10, 35))
#shape(7,5)

df_arreglo = pd.DataFrame(ser.values.reshape(7,5))
df_arreglo

   0  1  2  3  4
0  4  6  3  7  4
1  2  8  5  7  4
2  4  1  1  8  1
3  4  3  1  5  5
4  2  4  4  3  3
5  7  1  4  4  9
6  4  6  9  7  2

In [83]:
## 19) ¿Obtener los valores de una serie conociendo la posicion por indice?

In [84]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u
print("Posicion-elemento")
print(ser[pos])

Posicion-elemento
0     a
4     e
8     i
14    o
20    u
dtype: object

In [85]:
## 20) ¿Como anadir series vertical u horizontalmente a un DataFrame?

In [97]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df_uno = pd.concat([ser1, ser2], axis=0)
df_dos = pd.concat([ser1, ser2], axis=1)
print("vertical")
print(df_uno)
print("horizontal")
print(df_dos)

vertical
0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
horizontal
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [98]:
## 21)¿Obtener la media de una serie agrupada por otra serie?

In [100]:
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())
datos={
    'frutas':frutas,
    'pesos':pesos
}
df=pd.DataFrame(datos)
df.groupby('frutas').mean()

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['manzana', 'manzana', 'banana', 'banana', 'manzana', 'banana', 'banana', 'manzana', 'zanahoria', 'manzana']

           pesos
frutas
banana       5.0
manzana      5.2
zanahoria    9.0

In [101]:
## 22)¿Como importar solo columnas especificas de un archivo csv?

In [107]:
#https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv.

    
path_archivo = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
path='https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv.'
df_completo = pd.read_csv(path_archivo)
print(df_completo)

df = pd.read_csv(
        path,
        nrows=20,
    
        usecols=['crim','zn','indus','chas','nox','rm']
        )
df

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

HTTPError: HTTP Error 404: Not Found